<div class="modal-header">
    <h4 class="modal-title" >Push Order #{{orderId}} to queue</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form class="form" [formGroup]="formGroup" *ngIf="formGroup">
        <!--begin::Alert-->
        <div class="alert alert-info d-flex align-items-center p-5">
            <!--begin::Icon-->
            <i class="bi bi-question-circle-fill fs-2hx text-info me-4"></i>
            <!--end::Icon-->

            <!--begin::Wrapper-->
            <div class="d-flex flex-column">
                <!--begin::Title-->
                <!-- <h4 class="mb-1 text-dark">This is an alert</h4> -->
                <!--end::Title-->

                <!--begin::Content-->
                <span>Do you want to override default settings to process this order?</span>
                <!--end::Content-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Alert-->
        <div class="row mb-4">
            <div class="col-12">
                <label for="txtMinimalProfitFixed" class="form-label">Minimal Profit (optional)</label>
                <input type="number" id="txtMinimalProfitFixed" name="MinimalProfitFixed" class="form-control"
                    [class.is-valid]="formGroup.controls['MinimalProfitFixed'].valid && (formGroup.controls['MinimalProfitFixed'].dirty || formGroup.controls['MinimalProfitFixed'].touched)"
                    [class.is-invalid]="formGroup.controls['MinimalProfitFixed'].invalid && (formGroup.controls['MinimalProfitFixed'].dirty || formGroup.controls['MinimalProfitFixed'].touched)"
                    formControlName="MinimalProfitFixed"/>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <label for="txtMaxShippingDays" class="form-label">Max Shipping Days (optional)</label>
                <input type="number" id="txtMaxShippingDays" name="MaxShippingDays" class="form-control"
                    [class.is-valid]="formGroup.controls['MaxShippingDays'].valid && (formGroup.controls['MaxShippingDays'].dirty || formGroup.controls['MaxShippingDays'].touched)"
                    [class.is-invalid]="formGroup.controls['MaxShippingDays'].invalid && (formGroup.controls['MaxShippingDays'].dirty || formGroup.controls['MaxShippingDays'].touched)"
                    formControlName="MaxShippingDays"/>
                    <div *ngIf="formGroup.controls['MaxShippingDays'].hasError('min')" class="invalid-feedback">Minimum value is 1 day</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Close</button>
    <button class="btn btn-primary" [disabled]="!formGroup || !formGroup.valid" (click)="onSubmit()">
        <i class="bi bi-floppy fs-3"></i> Push to Queue
    </button>
</div>