<div class="card">
    <div class="card-header">
        <h3 class="card-title">Supplier Account Queue</h3>
        <div class="card-toolbar">
            <button class="btn btn-primary me-2" (click)="loadData()">Refresh</button>
            <button class="btn btn-warning" (click)="reloadQueue()">Reload Queue</button>
        </div>
    </div>
    <div class="card-body">
        @if(data.length > 0) {
            <p><strong>Số lượng tài khoản có thể mua hàng:</strong> {{activeAccounts}}</p>
            <p><strong>Số lượng đơn hàng tối đa trong 24h:</strong> {{maxOrders24h}}</p>
            <ejs-grid #grid [dataSource]='data' 
                allowPaging='true' [pageSettings]='{ pageSize: 200, pageSizes: [20, 200, 300] }' 
                [allowSorting]='true' 
                [sortSettings]="{ columns: [{ field: 'available_at', direction: 'Ascending' }] }"
                [allowFiltering]='true' [filterSettings]='{type: "Menu"}'
                allowTextWrap='true'
                enableStickyHeader=true
                >
                <e-columns>
                    <e-column field='account_id' headerText='ID' textAlign='Right' width="70"></e-column>
                    <e-column field='account_name' headerText='Tài khoản'>
                        <ng-template #template let-data>
                            @if(data.allow_purchase) {
                                <span class="text-dark">{{data.account_name}}</span>
                            } @else {
                                <span class="text-muted">{{data.account_name}}</span>
                            }
                            @if(data.limit24h) {
                                &nbsp;<span class="badge badge-danger">24h</span>
                            }
                            @if(data.limit12h) {
                                &nbsp;<span class="badge badge-warning">12h</span>
                            }
                            @if(data.limit4h) {
                                &nbsp;<span class="badge badge-warning">4h</span>
                            }
                            @if(data.limit2h) {
                                &nbsp;<span class="badge badge-warning">2h</span>
                            }
                            @if(data.limit1h) {
                                &nbsp;<span class="badge badge-warning">1h</span>
                            }
                            @if(!data.limit1h && !data.limit2h && !data.limit4h && !data.limit12h && !data.limit24h && data.allow_purchase) {
                                &nbsp;<i class="bi bi-shield-fill-check text-success fs-3"></i>
                            }
                        </ng-template>
                    </e-column>
                    <e-column field='seller_name' headerText='Khách' width="150"></e-column>
                    <e-column field='current_task' headerText='Việc đang làm' width="150"></e-column>
                    <e-column field='available_at' headerText='Sẵn sàng lúc' format="dd/MM/yyyy HH:mm:ss" width="150"></e-column>
                    <e-column field='last_purchase_time' headerText='Lần đặt trước' format="dd/MM/yyyy HH:mm:ss" width="150"></e-column>
                    <e-column field='orders_24h' headerText='Hạn mức' textAlign='Right' width="100">
                        <ng-template #template let-data>
                            {{data.orders_24h.length}} / {{data.protection_settings.MaxOrders24Hour}}
                        </ng-template>
                    </e-column>
                    <e-column field='on_hold_to' headerText='Tạm khóa đến' format="dd/MM/yyyy HH:mm:ss" width="150"></e-column>
                    <e-column field='last_tracking_time' headerText='Last Tracking Time' format="dd/MM/yyyy HH:mm:ss" width="150"></e-column>

                    <e-column field='account_id' headerText='Action' width="70">
                        <ng-template #template let-data>
                            <div ngbDropdown container="body" class="d-inline-block">
                                <button type="button" class="btn btn-primary btn-sm btn-icon remove-caret" id="dropdownBasic1" ngbDropdownToggle>
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button ngbDropdownItem (click)="openDetail(data)">
                                        <i class="bi bi-info-circle text-primary fs-3"></i> Detail
                                    </button>
                                    <button ngbDropdownItem (click)="markIdle(data.account_id)">
                                        <i class="bi bi-shield-fill-check text-primary fs-3"></i> Đánh dấu sẵn sàng
                                    </button>
                                    <button ngbDropdownItem (click)="hold(data.account_id)">
                                        <i class="bi bi-hourglass-top text-primary fs-3"></i> Tạm khóa 30 phút
                                    </button>
                                    <button ngbDropdownItem (click)="resetLastTrackingTime(data.account_id)">
                                        <i class="bi bi-clock-history text-primary fs-3"></i> Reset Last Tracking Time
                                    </button>
                                </div>
                            </div>
                        </ng-template>
                    </e-column>
                </e-columns>
            </ejs-grid>
        }
    </div>
</div>

<ng-template #detailModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile detail</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<pre>{{ selectedAccount | json }}</pre>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>