<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-icon">
          <i class="bi bi-columns-gap fs-2"></i>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD"></span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/orders" routerLinkActive="active">
        <span class="menu-icon">
          <i class="bi bi-cart2 fs-2"></i>
        </span>
        <span class="menu-title">Orders</span>
      </a>

      <a class="menu-link without-sub" routerLink="/orders-import" routerLinkActive="active">
        <span class="menu-icon">
          <i class="bi bi-upload fs-2"></i>
        </span>
        <span class="menu-title">Import Orders</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/balance-transactions" routerLinkActive="active">
        <span class="menu-icon">
          <i class="bi bi-cash-coin fs-2"></i>
        </span>
        <span class="menu-title">Balance &amp; Transactions</span>
      </a>
    </div>

    <div class="menu-item">
      <a class="menu-link without-sub" target="_blank" href="https://lumiostrack.com">
        <span class="menu-icon">
          <i class="bi bi-geo-alt fs-2"></i>
        </span>
        <span class="menu-title">LumiosTrack</span>
      </a>
    </div>
     
    <div class="menu-item">
      <a class="menu-link without-sub" target="_blank" href="https://lumiosync.stoplight.io/docs/order-api/branches/main/z4g2bsjx2a3as-lumios-order-api">
        <span class="menu-icon">
          <i class="bi bi-code-slash fs-2"></i>
        </span>
        <span class="menu-title">API Documentation</span>
      </a>
    </div>

  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->
