<div class="modal-header">
    <h4 class="modal-title" >Adjustment</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form class="form" [formGroup]="formGroup" *ngIf="formGroup">
        <div class="row mb-4">
            <div class="col-12">
                <label for="txtAmount" class="form-label">Amount</label>
                <input type="number" id="txtAmount" name="Amount" class="form-control"
                    [class.is-valid]="formGroup.controls['Amount'].valid && (formGroup.controls['Amount'].dirty || formGroup.controls['Amount'].touched)"
                    [class.is-invalid]="formGroup.controls['Amount'].invalid && (formGroup.controls['Amount'].dirty || formGroup.controls['Amount'].touched)"
                    formControlName="Amount"/>
                <div *ngIf="formGroup.controls['Amount'].hasError('min')" class="invalid-feedback">Minimum value is 1</div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <label class="form-label">Debit/Credit</label>
                <div class="d-flex gap-4">
                    <div class="form-check form-check-custom form-check-solid">
                        <input class="form-check-input" type="radio" name="Debit" id="debit" [value]="true" formControlName="Debit">
                        <label class="form-check-label" for="debit">
                            Debit (-)
                        </label>
                    </div>
                    <div class="form-check form-check-custom form-check-solid">
                        <input class="form-check-input" type="radio" name="Debit" id="credit" [value]="false" formControlName="Debit">
                        <label class="form-check-label" for="credit">
                            Credit (+)
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <label for="txtNote" class="form-label">Note</label>
                <input type="text" id="txtNote" name="Note" class="form-control"
                    [class.is-valid]="formGroup.controls['Note'].valid && (formGroup.controls['Note'].dirty || formGroup.controls['Note'].touched)"
                    [class.is-invalid]="formGroup.controls['Note'].invalid && (formGroup.controls['Note'].dirty || formGroup.controls['Note'].touched)"
                    formControlName="Note"/>
                <span class="form-text">Why are you making this adjustment?</span>
                <div *ngIf="formGroup.controls['Note'].hasError('maxlength')" class="invalid-feedback">Note must be at most 255 characters long</div>
                <div *ngIf="formGroup.controls['Note'].hasError('required')" class="invalid-feedback">Note is required for adjustment</div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Close</button>
    <button class="btn btn-primary" [disabled]="!formGroup || !formGroup.valid" (click)="onSubmit()">
        <i class="bi bi-floppy fs-3"></i> Submit
    </button>
</div>